<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비회원 게시판 글쓰기 화면</title>
</head>
<body>
    <h1>비회원 게시판 게시글 작성 화면</h1>

    <form th:action="@{/board/guest/guestPostSave}" th:object="${GuestBoard}" method="post">
        <label for="name">작성자:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        <label for="password">비밀번호: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">저장</button>
        <a href="#" onclick="history.back(); return false;">취소</a>
    </form>

</body>
</html>