<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비회원 게시판 화면</title>
</head>
<body>
    <h1>비회원 게시판 화면</h1>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, number: ${guestPost}" th:if="${post.is_deleted != 'Y'}">
            <td>
                <a th:href="@{/board/guestPostDetail/{id}(id=${post.id})}"
                   th:text="${totalPost - ((currentPage - 1) * pageSize + number.index)}">
                </a>
            </td>
            <td>
                <a th:href="@{/board/guestPostDetail/{id}(id=${post.id})}"
                   th:text="${post.title}">
                </a>
            </td>
            <td >
                <a th:href="@{/board/guestPostDetail/{id}(id=${post.id})}"
                   th:text="${post.content}">
                </a>
            </td>
            <td>
                <a th:href="@{/board/guestPostDetail/{id}(id=${post.id})}"
                    th:text="${post.created_at}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <a th:href ="@{/}" aria-label="메인화면 이동 버튼">홈</a>
    <a th:href ="@{/board/guestPostWrite}" aria-label="비회원 게시판 게시글 작성 화면으로 이동하는 버튼">글쓰기</a>

    <div>
        <a th:each="pageNum : ${#numbers.sequence(1, totalPage)}"
           th:href="@{/board/guestBoardMain(page=${pageNum})}"
           th:text="${pageNum}"></a>
    </div>
</body>
</html>