<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myBatisBoard.repository.board.guest.GuestBoardRepository">

    <!-- 비회원 게시글 쓰기 -->
    <insert id="createGuestPost" parameterType="GuestPost">
        INSERT INTO guestPost (name, title, content, password)
        VALUES (#{name}, #{title}, #{content}, #{password})
    </insert>

    <!--비회원 게시판 게시글 전체출력-->
    <select id="getAllGuestPost" resultType="GuestPost">
        SELECT
        id
        ,name
        ,title
        ,content
        ,password
        ,DATE_FORMAT(created_at, '%Y-%m-%d') AS created_at
        ,DATE_FORMAT(modified_at, '%Y-%m-%d') AS modified_at
        FROM guestPost
        WHERE is_deleted ='N'
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!--비회원 게시판 게시글 Count-->
    <select id="getGuestPostCount" resultType="int">
        SELECT COUNT(*) FROM guestPost
        WHERE is_deleted ='N'
    </select>

    <!--비회원 게시글 상세보기-->
    <select id="getGuestPostById" resultType="GuestPost">
        SELECT * FROM guestPost
        WHERE id = #{id}
            AND is_deleted ='N'
    </select>

    <!--비회원 게시글 수정-->
    <update id="updateGuestPost" parameterType="GuestPost">
        UPDATE guestPost
        SET name = #{name}
            ,title = #{title}
            ,content = #{content}
            ,password = #{password}
        WHERE
            id = #{id}
    </update>

    <!--비회원 게시글 삭제-->
    <update id="deleteGuestPost" parameterType="GuestPost">
        UPDATE guestPost
        SET is_deleted = 'Y'
        WHERE id = #{id}
    </update>
</mapper>